{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {#<div class="row">#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
            {#<div class="col-md-1">.col-md-1</div>#}
        {#</div>#}
        <header id="header">
            Header
        </header>
        <section>
            <div class="container">
                Search
            </div>
        </section>
        <section>
            miasta
        </section>
        <section>
            benefits
        </section>
        <section>
            movies maybe
        </section>
        <section>
            <div class="container">
                {{ html|raw }}
            </div>
        </section>
        <footer id="footer">
            stópka
        </footer>


    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
